@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&family=Noto+Sans+JP:wght@300;500;700&display=swap");
@import "reset.scss";
@import "common.scss";
@import "var.scss";

// ========================================
// *** PON PON共通ページ
// ========================================
* {
  font-family: $font-MPulsRound;
}
.body {
  color: #505050;
  position: relative;
  animation: lodingStop 8s ease;
}
.lp--warp {
  width: 100%;
  overflow: hidden;
}
@keyframes lodingStop {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

// logo
.logo {
  position: relative;
  min-width: 200px;
  max-width: 200px;
  z-index: 10;
  &__text {
    color: $color-white;
    @include position-center;
    top: 12px;
    left: 16px;
    a {
      color: $color-white;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
  }
  @include media_query("sp_v") {
    z-index: 8;
    min-width: 160px;
    max-width: 160px;
    &__text {
      top: 8px;
      left: 8px;
      a {
        font-size: 1.25rem;
      }
    }
  }
}

// fix head navigation, contents
#fixContents {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: 0.4s ease-out 0.4s;
}

// header
.header {
  background: transparent;
  width: 100%;
  height: 64px;
  display: flex;
  z-index: 8;
  &__login {
    justify-content: flex-end !important;
  }
  &__member {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // header left area
  &__navigation {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 16px;
    &--right {
      justify-content: flex-end;
    }
    li {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 5rem;
      transition: 0.4s;
      &:hover {
        background: $color-ponpon;
        a {
          color: $color-white;
        }
      }
      a {
        color: $color-ponpon;
        border: 2px solid $color-ponpon;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 50rem;
        display: block;
        padding: 2px 20px;
        transition: 0.4s;
      }
    }
    .active {
      a {
        color: $color-white;
        background: $color-ponpon;
      }
    }
  }
  // header right area
  &__flex {
    display: flex;
    align-items: center;
    margin: 0 16px;
  }
  // header user icon
  &__user {
    background: $color-gray-f0;
    border: 2px solid $color-white;
    border-radius: 50rem;
    width: 42px;
    height: 42px;
    margin: 0 0 0 16px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    position: relative;
    z-index: 10;
    img {
      height: 42px;
      object-fit: cover;
      object-position: center;
    }
  }
  // smartphone
  @include media_query("sp_v") {
    height: 50px;
    &__flex {
      margin: 0 8px;
    }
    &__member {
      justify-content: flex-end;
    }
    &__navigation {
      display: none;
      &--login {
        display: flex;
      }
    }
  }
}

// title
.title {
  width: 100%;
  margin: 40px 0 60px 0;
  padding: 0 8%;
  position: relative;
  h1 {
    color: $color-ponpon;
    font-size: 2rem;
  }
}

// head title
.lp-head {
  text-align: center;
  span {
    color: $color-ponpon;
  }
  &__title {
    font-size: 3rem;
    margin-bottom: 16px;
  }
  &__description {
    font-size: 1.75rem;
  }
  &__title,
  &__description {
    font-weight: bold;
  }
  // smartphone
  @include media_query("sp_v") {
    &__title {
      font-size: 1.75rem;
    }
    &__description {
      font-size: 1.5rem;
    }
  }
}

// footer
footer {
  color: $color-black;
  background: $color-gray-f0;
  text-align: center;
  margin-top: auto;
  padding: 8px 0;
  small {
    font-size: 0.75rem;
    color: $color-gray-80;
    display: block;
    text-align: center;
  }
  @include media_query("sp_v") {
    small {
      font-size: 0.5rem;
    }
  }
}

// loding
.loding {
  opacity: 0;
  animation: lodingAnime 2s 4.5s ease-out forwards;
}
@keyframes lodingAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// wave
.wave {
  width: 100%;
  &__top {
    top: -160px;
    left: 0;
    transform: rotate(-180deg);
  }
  &__buttom {
    bottom: -160px;
    left: 0;
  }
  &__top,
  &__buttom {
    fill: $color-white;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 1;
  }
}

// ========================================
// *** プロモーションページ
// ========================================
// loding anime
.bounce {
  font-size: 6rem;
  font-weight: bold;
  color: $color-ponpon;
  background: $color-white;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  animation: bounce 3s ease-out forwards;
  @keyframes bounce {
    0% {
      opacity: 1;
      visibility: visible;
      display: block;
    }
    80% {
      opacity: 1;
      visibility: visible;
      display: block;
    }
    100% {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
  &__text {
    animation: bounceText 0.75s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
    display: inline-block;
    transform: translate3d(0, 0, 0);
    margin-top: 0.5em;
    &:nth-of-type(1) {
      animation-delay: -0.083333333s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.0833333333s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.1666666667s;
    }
    &:nth-of-type(5) {
      animation-delay: 0.25s;
    }
    &:nth-of-type(6) {
      animation-delay: 0.3333333333s;
    }
    &:nth-of-type(7) {
      animation-delay: 0.4166666667s;
    }
  }
  @keyframes bounceText {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, -1em, 0);
    }
  }
  // smartphone
  @include media_query("sp_v") {
    font-size: 4rem;
    transform: translate(-50%);
    top: 0%;
    left: 50%;
  }
}

// ========================================
// *** hero
// ========================================
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__mainBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__ponponBody {
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    margin-right: 20px;
    transform: translate(0);
    opacity: 0;
    animation: fadeUpRightPonpon 3s 2s ease-in-out forwards, fadeUpDownPonpon 1s ease-in-out infinite alternate;
    position: relative;
    z-index: 2;
    @keyframes fadeUpRightPonpon {
      0% {
        opacity: 0;
        transform: translate(-1000px, 1000px);
      }
      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
    @keyframes fadeUpDownPonpon {
      0% {
        margin-top: 20px;
      }
      100% {
        margin-top: 0px;
      }
    }
  }
  // consept
  &__consept {
    background: $color-accent;
    border-radius: 2rem;
    max-width: 920px;
    min-width: 920px;
    margin: 0;
    padding: 3rem 4rem 3rem 7rem;
    position: relative;
    opacity: 0;
    animation: conseptBox 2s 4.5s ease-out forwards;
    strong {
      color: $color-ponpon;
    }
  }
  &__title {
    font-size: 4rem;
    margin-bottom: 24px;
    letter-spacing: 0.15em;
    span {
      display: block;
    }
  }
  &__text {
    font-size: 2rem;
    letter-spacing: 0.2em;
    font-weight: bold;
    span {
      display: block;
    }
  }
  @keyframes conseptBox {
    0% {
      opacity: 0;
      margin-left: -120px;
    }
    100% {
      opacity: 1;
    }
  }
  // top line anime
  &--skyline {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    height: 100vh;
    animation: skylineRightUpAnime 3s 3s ease-out forwards;
    background-size: 200vh;
    background-image: url("../../../images/svg-skyline-pink.svg");
    background-repeat: no-repeat;
  }
  // background-image fade
  @keyframes skylineRightUpAnime {
    from {
      opacity: 1;
      background-position: -1000px top;
    }
    to {
      opacity: 1;
      background-position: center;
    }
  }
  // svg
  &__svg {
    &--waveYellow {
      position: absolute;
      transform: translate(-50%);
      top: -6rem;
      left: 50%;
    }
    &--waveWhite {
      position: absolute;
      top: 4rem;
      left: 3rem;
    }
    &--box {
      position: absolute;
      top: -2rem;
      right: 3rem;
    }
    &--triangle {
      position: absolute;
      right: 3rem;
    }
    &--triangle3d {
      width: 120px;
      height: 120px;
      position: absolute;
      bottom: 4rem;
      left: 3rem;
    }
    &--sun {
      width: 88px;
      height: 88px;
      position: absolute;
      top: 6rem;
      left: 3rem;
    }
    > * {
      opacity: 0;
      animation: scaleAnime-svg 1.5s 5s linear forwards;
    }
    @keyframes scaleAnime-svg {
      from {
        opacity: 0;
        transform: rotate(-180deg) scale(1.2);
      }
      to {
        opacity: 1;
        transform: rotate(0) scale(1);
      }
    }
  }
  // tablet
  @include media_query("tab") {
    &__ponponBody {
      position: absolute;
      bottom: 0;
      max-width: 320px;
      min-width: 240px;
      margin: auto;
    }
    &__mainBox {
      margin-bottom: 120px;
    }
    &__consept {
      min-width: 100%;
      padding: 3rem 1rem 3rem 4rem;
    }
    &__title {
      font-size: 3rem;
    }
    &__text {
      font-size: 1.5rem;
    }
    &__svg {
      &--waveWhite {
        top: 4rem;
        left: 1rem;
        height: 120px;
      }
      &--box {
        right: 0;
      }
    }
  }
  // smartphone
  @include media_query("sp_v") {
    flex-direction: column;
    justify-content: flex-start;
    height: 50rem;
    &--skyline {
      height: 50rem;
    }
    &__ponponBody {
      max-width: 240px;
    }
    &__mainBox {
      margin-bottom: 0;
      margin-top: 8rem;
    }
    &__consept {
      min-width: 100%;
      padding: 2rem 1rem 2rem 2.5rem;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__text {
      font-size: 0.9125rem;
      span {
        display: initial;
      }
    }
    &__svg {
      &--waveWhite {
        top: 2.5rem;
        left: 0.5rem;
        height: 64px;
      }
      &--waveYellow {
        width: 80px;
      }
      &--box {
        top: -24px;
        height: 64px;
      }
      &--sun {
        top: 5rem;
        width: 64px;
        height: 64px;
        display: none;
      }
      &--triangle {
        width: 72px;
        right: 40%;
      }
      &--triangle3d {
        display: none;
      }
    }
  }
}

// ========================================
// *** consept
// ========================================
.consept {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__box {
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.8);
    width: auto;
    margin: 0 auto 0 0;
    padding: 2rem;
  }
  &__title {
    color: $color-link;
    font-size: 3rem;
    margin-bottom: 24px;
    span {
      display: block;
    }
  }
  &__text {
    color: #22546c;
    font-size: 1.5rem;
    line-height: 2;
    span {
      display: block;
    }
  }
  &__visual {
    position: absolute;
    top: auto;
    right: 0;
    bottom: auto;
    left: auto;
    z-index: -1;
    &--main {
      max-width: 1200px;
    }
    &--delivery {
      max-width: 160px;
      top: 12%;
      right: 50%;
      animation: fadeUpDownPonpon2 1s linear infinite alternate !important;
    }
    &--shopping {
      max-width: 96px;
      top: 32%;
      right: 4%;
      animation: fadeUpDownPonpon2 1s 1s linear infinite alternate !important;
    }
    &--delivery,
    &--shopping {
      position: absolute;
      z-index: 1;
      transform: translate(-50%);
    }
    @keyframes fadeUpDownPonpon2 {
      0% {
        margin-top: 12px;
      }
      100% {
        margin-top: 0px;
      }
    }
  }
  // tablet
  @include media_query("tab") {
    flex-direction: column;
    justify-content: flex-start;
    &__box {
      margin: 0 auto;
      text-align: center;
    }
    &__visual {
      overflow: hidden;
      position: relative;
    }
  }
  @include media_query("sp_v") {
    height: 100%;
    &__box {
      padding: 0;
    }
    &__title {
      font-size: 2rem;
    }
    &__text {
      font-size: 1rem;
      line-height: 2;
    }
    &__title,
    &__text {
      span {
        display: initial;
      }
    }
    &__visual {
      top: 40px;
      &--main {
        width: 480px;
      }
      &--delivery {
        max-width: 120px;
        top: 0;
        left: 32%;
      }
      &--shopping {
        max-width: 80px;
        top: 12%;
        right: 0;
      }
    }
  }
}

// ========================================
// *** introduction
// ========================================
.introduction {
  // background: #fffbf8;
  background: #fef5f5;
  position: relative;
  .wave {
    &__top, &__buttom {
      fill: #fef5f5;
    }
  }
  .lp-head {
    &__title {
      color: $color-ponpon;
    }
  }
  &__box {
    background-image: url("../../images/ponpon-regist-visual.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    height: 100vh;
    position: relative;
  }
  &__item {
    color: #885555;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
    text-shadow: 0 0 8px rgba(254, 245, 245, 0.8), 0 0 8px rgba(254, 245, 245, 0.8), 0 0 10px rgba(254, 245, 245, 0.8),
      0 0 10px rgba(254, 245, 245, 0.8);
    position: absolute;
    &::before {
      content: "";
      border-radius: 50rem;
      background: $color-accent;
      margin-bottom: 16px;
      width: 80px;
      height: 5px;
      display: flex;
      flex-direction: column;
    }
    span {
      display: block;
    }
    b {
      color: $color-ponpon !important;
    }
    &:nth-child(1) {
      top: 12%;
      right: 16%;
    }
    &:nth-child(2) {
      top: 32%;
      left: 8%;
    }
    &:nth-child(3) {
      bottom: 32%;
      right: 8%;
    }
    &:nth-child(4) {
      bottom: 12%;
      left: 16%;
    }
  }
  // tablet
  @include media_query("tab") {
    flex-direction: column;
    justify-content: flex-start;
    &__box {
      background-size: 640px;
    }
    &__item {
      &:nth-child(1) {
        right: 0;
      }
      &:nth-child(2) {
        left: 0;
      }
      &:nth-child(3) {
        right: 4%;
      }
      &:nth-child(4) {
        bottom: 12%;
        left: 8%;
      }
    }
  }
  // smartphone
  @include media_query("sp_v") {
    &__box {
      background-size: 400px;
      background-position: center 40px;
      height: 50rem;
      display: flex;
      flex-direction: column;
    }
    &__item {
      font-size: 1rem;
      position: static;
      margin-bottom: 40px !important;
      &::before {
        width: 40px;
        height: 4px;
      }
      &:nth-child(1) {
        padding-top: 320px;
      }
      &:nth-child(2n) {
        margin: 0 0 0 auto;
      }
    }
  }
}

// ========================================
// *** manual
// ========================================
.manual {
  .lp-head {
    &__title {
      margin-top: 160px;
    }
    &__description {
      color: $color-ponpon;
    }
  }
  .list {
    border: none;
    border-radius: 0;
    width: 100%;
    flex-wrap: wrap;
    margin: 80px auto;
    &__item {
      width: 100%;
      display: flex;
      border-bottom: 1px solid $color-gray-f0;
      padding: 40px 0;
    }
    &__content {
      width: 100%;
    }
    &__time {
      color: $color-ponpon;
      font-size: 1.75rem;
      margin-bottom: 24px;
      display: block;
    }
    &__text {
      font-size: 1.25rem;
      line-height: 2;
      padding-right: 40px;
    }
    &__time,
    &__text {
      font-weight: bold;
    }
    &__attantion {
      color: $color-gray-80;
      font-size: .65em;
      margin-top: 20px;
      display: block;
    }
    &__image {
      border-radius: 1rem;
      max-width: 480px;
      min-width: 480px;
      height: 270px;
      margin: 0 auto;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
  // tablet
  @include media_query("tab") {
    .lp-head {
      &__title {
        font-size: 2.75rem;
      }
    }
    .list {
      &__item {
        flex-direction: column-reverse;
      }
      &__content {
        margin-top: 24px;
      }
      &__text {
        padding-right: 0;
      }
      &__time {
        font-size: 1.5rem;
        margin-bottom: 16px;
      }
    }
  }
  // smartphone
  @include media_query("sp_v") {
    .lp-head {
      &__title {
        font-size: 2rem;
        text-align: left;
      }
      &__description {
        font-size: 1.5rem;
        text-align: left;
        white-space: nowrap;
        span {
          display: block;
        }
      }
    }
    .list {
      padding: 0;
      &__item {
        padding: 24px 0;
      }
      &__image {
        max-width: 100%;
        min-width: 100%;
        height: 200px;
      }
      &__time {
        font-size: 1.25rem;
      }
      &__text {
        font-size: 1rem;
      }
    }
  }
}

// ========================================
// *** app
// ========================================
.app {
  background: #fef5f5;
  padding: 40px 0;
  margin: 160px auto;
  position: relative;
  .lp-head {
    margin-bottom: 80px;
  }
  .inner--large {
    margin: 0 auto;
  }
  .wave {
    &__top, &__buttom {
      fill: #fef5f5;
    }
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
      .app__box {
        img {
          margin: 0 auto 0 0;
        }
      }
    }
  }
  &__title {
    color: $color-ponpon;
    font-size: 2.25rem;
    margin-bottom: 24px;
  }
  &__text {
    color: #885555;
    font-size: 1.25rem;
    line-height: 2;
  }
  &__box {
    width: 50%;
    img {
      max-width: 480px;
      display: block;
      margin: 0 0 0 auto;
    }
  }
  // tablet
  @include media_query("tab") {
    &__title {
      font-size: 1.75rem;
    }
    &__text {
      font-size: 1rem;
    }
  }
  // smartphone
  @include media_query("sp_v") {
    &__item {
      flex-direction: column-reverse !important;
      &:nth-of-type(odd) {
        margin-bottom: 64px;
      }
    }
    &__box {
      width: 100%;
      img {
        margin-bottom: 24px !important;
      }
    }
    &__title {
      font-size: 1.5rem;
    }
    &__text {
      font-size: .9125rem;
    }
  }
}

// ========================================
// *** lp-login
// ========================================
.lp-login {
  &__image {
    max-width: 640px;
    margin: 0px auto 80px;
  }
  &__button {
    text-align: center;
    margin: 80px auto;
    a {
      color: $color-white;
      background: $color-ponpon;
      border-radius: 50rem;
      font-size: 2rem;
      padding: 4px 40px;
      transition: .4s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  // smartphone
  @include media_query("sp_v") {
    .lp-head {
      &__description {
        font-size: 1.25rem;
      }
    }
    &__button {
      a {
        font-size: 1.25rem;
        padding: 8px 40px;
      }
    }
  }
}

// ========================================
// *** slide anime slick
// ========================================
.team {
  margin-bottom: 240px;
  .lp-head {
    padding: 40px 0;
    position: relative;
    &::before {
      content: "VEST OF TEAMS";
      color: $color-gray-f5;
      position: absolute;
      white-space: nowrap;
      transform: translate(-50%);
      top: -24px;
      left: 50%;
      font-family: $font-MPulsRound;
      font-size: 8rem;
      z-index: -1;
    }
  }
  &__list {
    li {
      padding: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }
  // tablet
  @include media_query("tab") {
    .lp-head {
      &::before {
        font-size: 5rem;
        top: 48px;
      }
    }
  }
  // tablet
  @include media_query("tab") {
    .lp-head {
      &::before {
        font-size: 3rem;
      }
    }
  }
}
.slick-track {
  display: flex;
}

// ========================================
// *** gallery
// ========================================
.gallery {
  margin-bottom: 120px;
}

// ========================================
// *** animation
// ========================================
// js animation scroll fade up
.fadeAnimeJs {
  > * {
    opacity: 0;
    &.scroll--in {
      opacity: 1;
      animation: fadeUpJs 0.8s ease-out;
    }
  }
}
@keyframes fadeUpJs {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// ========================================
// *** modal-videojs style
// ========================================
.videoPr {
  position: relative;
  padding: 80px 0 120px;
  background: $color-gray-fa;
  &__title {
    color: $color-ponpon;
    font-size: 1.75rem;
    margin-bottom: 24px;
  }
  &__box {
    position: relative;
    padding: 0 8%;
    margin: 80px auto 120px;
  }
  &__image {
    position: relative;
    img {
      margin: 0 auto;
    }
  }
  &__button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    button {
      cursor: pointer;
      color: $color-white;
      background: $color-ponpon;
      border: none;
      border-radius: 5px;
      outline: none;
      padding: 8px 16px;
      transition: 0.4s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .wave__buttom {
    fill: $color-gray-f5;
  }
  // tablet
  @include media_query("tab") {
    flex-direction: column;
    justify-content: flex-start;
    &__box {
      text-align: center;
      margin: 0 auto;
      padding: 8%;
    }
  }
  // smartphone
  @include media_query("sp_v") {
    &__title {
      span {
        display: block;
      }
    }
  }
}
@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  &-close {
    opacity: 0;
    .modal-video-movie-wrap {
      -webkit-transform: translate(0, 100px);
      -moz-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
      -o-transform: translate(0, 100px);
      transform: translate(0, 100px);
    }
    &-btn {
      position: absolute;
      z-index: 2;
      top: -35px;
      right: -35px;
      display: inline-block;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border: none;
      background: transparent;
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #fff;
        border-radius: 5px;
        margin-top: -6px;
      }
    }
  }
  &-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
  }
  &-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  &-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
