@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&family=Noto+Sans+JP:wght@300;500;700&display=swap");
*, *::before, *::after { box-sizing: border-box; }

html { font-family: sans-serif; line-height: 1.15; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }

.tbM0 { margin: 0 !important; }

body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1rem; font-weight: 500; line-height: 1.5; letter-spacing: 0.08em; color: #252525; text-align: left; background-color: #ffffff; display: flex; flex-direction: column; height: 100%; }

[tabindex="-1"]:focus:not(:focus-visible) { outline: 0 !important; }

hr { box-sizing: content-box; height: 0; overflow: visible; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-family: "M PLUS Rounded 1c", sans-serif; }

p { margin-top: 0; margin-bottom: 1rem; }

abbr[title], abbr[data-original-title] { text-decoration: underline; text-decoration: underline dotted; cursor: help; border-bottom: 0; -webkit-text-decoration-skip-ink: none; text-decoration-skip-ink: none; }

address { margin-bottom: 1rem; font-style: normal; line-height: inherit; }

ol, ul, dl { margin-top: 0; margin-bottom: 1rem; padding: 0; list-style: none; }

ol ol, ul ul, ol ul, ul ol { margin-bottom: 0; }

dt { font-weight: 700; }

dd { margin-bottom: 0.5rem; margin-left: 0; }

blockquote { margin: 0 0 1rem; }

b, strong { font-weight: bolder; }

small { font-size: 80%; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

a { text-decoration: none; background-color: transparent; }

a:hover { text-decoration: none; }

a:not([href]):not([class]) { color: inherit; text-decoration: none; }

a:not([href]):not([class]):hover { color: inherit; text-decoration: none; }

img { width: 100%; }

pre, code, kbd, samp { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-size: 1em; }

pre { margin-top: 0; margin-bottom: 1rem; overflow: auto; }

.preload { transition: none !important; }

figure { margin: 0 0 1rem; }

img { vertical-align: middle; border-style: none; }

svg { overflow: hidden; vertical-align: middle; }

.svg-inline--fa { margin-right: 8px; }

table { border-collapse: collapse; }

caption { padding-top: 0.75rem; padding-bottom: 0.75rem; color: #6c757d; text-align: left; caption-side: bottom; }

th { text-align: inherit; text-align: -webkit-match-parent; }

[hidden] { display: none !important; }

input[type="date"], input[type="time"] { -webkit-appearance: none; -webkit-min-logical-width: calc(100% - 16px); }

.form { width: 100%; }

.form input, .form button, .form select, .form textarea { font-size: 0.9125rem; appearance: none; border: none; outline: none; }

.form input, .form textarea { background: #ffffff; border-radius: 5px; }

.form input { width: 100%; padding: 12px; }

.form input::placeholder { color: #aaaaaa; }

.form input[type="date"], .form input[type="time"] { width: 100%; }

.form input[type="submit"], .form input[type="button"], .form label, .form button, .form select { cursor: pointer; }

.form select::-ms-expand { display: none; }

.form label { font-size: 0.75rem; margin-bottom: 8px; display: block; }

.form .radio label { position: relative; padding-left: 1.25em; margin-right: 1em; }

.form .radio label::before { content: ""; display: block; position: absolute; top: 0; left: 0; width: 15px; height: 15px; border: 1px solid #ddd; border-radius: 50%; background: #eee; }

.form .radio input:checked + label::after { content: ""; display: block; position: absolute; top: 3px; left: 3px; width: 11px; height: 11px; background: #f22580; border-radius: 50%; }

.form select { border: 1px solid #ddd; padding: 10px; border-radius: 5px; background: #eee; }

.form textarea { resize: vertical; margin: 10px 0 0; padding: 5px; width: 100%; height: 8em; }

.wrap { width: 100%; }

.wrap--grayfa { background: #fafafa; }

.wrap--grayf5 { background: #f5f5f5; }

.wrap--grayf0 { background: #f0f0f0; }

.inner { width: 100%; margin: 0 auto; padding: 40px 8%; }

.inner__title { margin: 0 0 24px 0; }

.inner--small { width: 100%; max-width: calc(720px + 16%); padding: 0 8%; }

.inner--middle { width: 100%; max-width: calc(960px + 16%); padding: 0 8%; }

.inner--large { max-width: calc(1200px + 16%); padding: 0 8%; }

.inner--tPd0 { padding: 0 8% 80px; }

.inner--bPd0 { padding: 80px 8% 0; }

.inner--tbPd0 { padding: 0 8%; }

.head { width: 100%; }

.head__title { font-size: 1.5rem; font-weight: bold; padding: 0 0 24px 0; }

.head__title--pink { color: #f22580; }

.head__text { font-size: 0.75rem; font-weight: bold; margin: 0 0 24px 0; }

.head__link { color: #ffffff; background: #22a8e0; border-radius: 50rem; font-size: 0.75rem; font-weight: bold; padding: 6px 12px; margin-bottom: 24px; }

.head__link--ponpon { background: #f22580; }

.head__link--accent { background: #ffeb00; }

.head--flex { display: flex; align-items: center; justify-content: space-between; }

.head--sticky { background: #ffffff; position: sticky; top: 72px; z-index: 10; }

.head--sticky::before { content: ""; position: absolute; top: -16px; height: 16px; width: 100%; background: #ffffff; z-index: 3; }

.head--sticky::after { content: ""; background: #ffffff; width: 12px; height: 73px; position: absolute; top: -12px; left: -12px; z-index: -1; }

@media screen and (max-width: 767px) { .head { width: 100%; }
  .head__title { font-size: 1.25rem; }
  .head__text, .head__link { margin: 0 0 12px 0; }
  .head--sticky { top: 95px; z-index: 10; }
  .head--sticky .head__title { padding: 0 0 8px 0; }
  .head--sticky::after { height: 55px; } }

.flex { display: flex; align-items: flex-start; justify-content: space-between; }

.flex__title { font-size: 1.5rem; padding: 0 0 24px 0; }

.flex__side { width: 360px; max-width: 360px; min-width: 360px; }

.flex__main { width: 100%; margin-left: 40px; }

.flex__main > .head { margin-bottom: 40px; border-bottom: 1px solid #f0f0f0; }

.flex__side--sticky, .flex__main--sticky { position: sticky; top: 72px; }

@media screen and (max-width: 1024px) { .flex__side { width: 100%; max-width: 100%; min-width: 240px; }
  .flex__side--sticky { position: static; }
  .flex__main { margin-left: 0; } }

.svg { background: #f5f5f5; margin-top: 12px; position: relative; z-index: 1; }

.svg--white { background: #ffffff; }

.svg--white .svg__wave { fill: #ffffff; }

.svg__wrap { width: 100%; }

.svg__wave { position: absolute; width: 100%; height: 250px; fill: #f5f5f5; }

.svg__wave--top { transform: rotate(180deg); top: -160px; }

.svg__wave--bottom { bottom: -160px; }

.card { width: 100%; }

.card__img { border-radius: 1rem; overflow: hidden; width: 100%; height: 200px; max-height: 200px; margin-bottom: 8px; }

.card__img img { height: 200px; object-position: center; object-fit: cover; }

.card__head { max-height: 32px; overflow: hidden; position: relative; }

.card__title { color: #252525; font-weight: bold; font-size: 0.9125rem; margin: 12px 0; }

.card__icon { color: #808080; background: #f5f5f5; border-radius: 50rem; font-size: 0.75rem; font-weight: bold; padding: 2px 12px; position: absolute; top: 10px; right: 0; z-index: 2; }

.card__text { color: #808080; font-size: 0.75rem; line-height: 2; margin: 12px 0 0 0; }

.card__list { padding: 16px 0; }

.card__list li { color: #808080; font-size: 0.7125rem; padding: 8px 0; }

.card__list li span { color: #252525; font-size: 0.875rem; margin-top: 4px; display: block; }

.cardBg { border-radius: 1rem; box-shadow: 0px 4px 16px rgba(25, 25, 25, 0.1); width: 100%; }

.cardBg__img { border-radius: 1rem; border-bottom-left-radius: 0; border-bottom-right-radius: 0; width: 100%; max-height: 120px; overflow: hidden; position: relative; }

.cardBg__img > img { max-height: 120px; object-fit: cover; filter: blur(15px); }

.cardBg__img::before { content: ""; position: absolute; width: 100%; height: 100%; background: rgba(255, 160, 160, 0.1); z-index: 1; }

.cardBg__box { position: relative; }

.cardBg__box::after { position: absolute; top: 41px; left: 0; content: ""; width: 100%; height: 40px; background: #ffffff !important; border-top-left-radius: 1rem; border-top-right-radius: 1rem; z-index: 2; }

.cardBg__box--icon { width: 80px; height: 80px; margin: -80px auto 0; overflow: hidden; position: relative; z-index: 3; }

.cardBg__box--icon > img { width: 80px; height: 80px; object-fit: cover; border-radius: 50rem; }

.cardBg__info { padding: 20px; }

.cardBg__info li { color: #808080; font-size: 0.75rem; line-height: 1.8; margin-bottom: 8px; display: flex; }

.cardBg__info li::before { font-family: "Font Awesome 5 Free"; font-weight: bold; margin-right: 8px; }

.cardBg__name, .cardBg__id { color: #252525 !important; font-family: "M PLUS Rounded 1c", sans-serif; font-size: 1rem !important; font-weight: bold; text-align: center; justify-content: center; }

.cardBg__id { color: #808080 !important; font-size: 0.875rem !important; }

.cardBg__map::before { content: "\f3c5"; }

.cardBg__tel::before { content: "\f095"; }

.cardBg__delete { position: absolute; top: -12px; left: -12px; top: -8px; left: -8px; z-index: 5; }

.cardBg__delete button { cursor: pointer; border: none; background: transparent; }

.cardBg__delete button .svg-inline--fa { color: #ffffff; background: #252525; box-shadow: 0px 4px 16px rgba(25, 25, 25, 0.1); border-radius: 50rem; font-size: 1.5rem; width: 20px; height: 20px; padding: 4px; transition: all 0.2s ease; }

.cardBg__delete button .svg-inline--fa:hover { background: #ed0808; }

.infoBg__bgimg { width: 100%; height: 240px; }

.infoBg__bgimg img { border-radius: 1rem; object-fit: cover; height: 240px; }

.infoBg__icon { width: 120px; height: 120px; }

.infoBg__icon img { border-radius: 50rem; min-width: 120px; height: 120px; object-fit: cover; }

.infoBg__box { background: #ffffff; border-radius: 1rem; box-shadow: 0 0 16px #f0f0f0; width: 88.888888%; padding: 24px 40px; margin: -80px auto 80px; display: flex; flex-wrap: wrap; position: relative; z-index: 2; }

.infoBg__box > .flex { align-items: center; }

.infoBg__title { font-size: 1.25rem; font-weight: bold; font-family: "M PLUS Rounded 1c", sans-serif; width: 100%; }

.infoBg__info { margin: 0 0 0 32px; }

.infoBg__info li { font-size: 0.75rem; font-weight: 700; margin: 12px 0; }

.infoBg__info li span { font-weight: normal; color: #808080; margin-left: 8px; }

.list { border: 1px solid #f0f0f0; border-radius: 5px; display: flex; position: relative; width: 50%; width: calc(50% - 20px / 2); margin: 0 20px 20px 0; }

.list:nth-child(2n) { margin-right: 0; }

.list:not(:nth-child(2n)) { margin-right: 20px; }

.list__img { width: 100px; height: 100px; max-height: 100%; min-height: 100%; display: flex; }

.list__img img { object-fit: cover; border-radius: 5px; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 100px; }

.list__info { display: flex; justify-content: center; flex-direction: column; }

.list__title, .list__price { font-size: 0.9125rem; margin: 0 12px !important; }

.list__price { margin-top: 4px !important; }

.list__price--small { font-size: 0.5em !important; }

.list__quantity { width: 72px; margin: 0 0 0 auto; padding: 0 8px; display: flex; flex-direction: column; justify-content: center; align-items: flex-end; }

.list__quantity select { cursor: pointer; border: none; outline: none; text-align: center; background: transparent; font-size: 1.75rem; padding: 0 8px; margin: 12px 0 16px 12px; }

.list__quantity button { color: #ffffff; border: none; background: none; background: #f22580; border-radius: 5px; box-shadow: 0 3px 0 #c82250; outline: none; font-size: 0.75rem; font-weight: bold; width: 100%; padding: 8px; transition: all 0.3s ease; cursor: pointer; margin-bottom: 8px; padding: 4px; }

.list__quantity button:hover { transform: translate(0px, 2px); box-shadow: 0 1px 0 #c82250; }

.list__delete { position: absolute; top: -12px; left: -12px; z-index: 5; }

.list__delete button { cursor: pointer; border: none; background: transparent; }

.list__delete button .svg-inline--fa { color: #ffffff; background: #252525; box-shadow: 0px 4px 16px rgba(25, 25, 25, 0.1); border-radius: 50rem; font-size: 1.5rem; width: 20px; height: 20px; padding: 4px; transition: all 0.2s ease; }

.list__delete button .svg-inline--fa:hover { background: #ed0808; }

.listView { margin: 20px 0; max-height: 240px; overflow-x: hidden; counter-reset: number 0; }

.listView__list { border-bottom: 1px solid #f0f0f0; padding: 16px 0; margin-bottom: 8px; display: flex; align-items: center; justify-content: space-between; }

.listView__store { display: flex; }

.listView__store::before { counter-increment: number 1; content: counter(number) " "; background: #f0f0f0; border-radius: 50rem; width: 22px; height: 22px; margin-right: 12px; display: inline-block; text-align: center; }

.listView__store, .listView__time { font-size: 0.875rem; font-weight: bold; }

.listView__store { margin: 0; }

.listView__time { color: #808080; }

.form { background: #f5f5f5; border-radius: 1rem; padding: 40px; }

.form__icon { margin-bottom: 8px; }

.form__icon__box { width: 120px; height: 120px; margin: 0 auto; border-radius: 50rem; position: relative; overflow: hidden; }

.form__preview { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 120px; height: 120px; object-fit: cover; }

.form__input { color: #ffffff; background-color: rgba(128, 128, 128, 0.5); cursor: pointer; font-size: 0.75rem !important; font-weight: bold; text-align: center; width: 100%; height: 32px; padding: 8px 0 0 0; position: absolute; bottom: -8px; left: 50%; transform: translate(-50%); }

.form__input::before { content: "変更する"; }

.form__input input[type="file"] { display: none; }

.form__iconname { color: #aaaaaa; font-family: "M PLUS Rounded 1c", sans-serif; text-align: center; font-weight: bold; letter-spacing: 0.05em; margin: 12px 0 40px; }

.form-inputGroup dd { margin-bottom: 20px; }

.form-inputGroup dd input:nth-child(n + 2) { margin-top: 16px; }

.form-inputGroup__2col { display: flex; align-items: center; }

.form-inputGroup__2col input { max-width: 160px; margin: 0 8px 0 0 !important; }

.form-buttonGroup { text-align: center; display: flex; justify-content: center; margin: 32px auto 0; }

.form-buttonGroup__button { color: #ffffff; font-weight: bold; border-radius: 50rem; width: calc(100% / 1.2); max-width: 240px; margin: 0 2%; padding: 8px 20px; transition: 0.4s; }

.form-buttonGroup__button:hover { opacity: 0.7; }

.form-buttonGroup__button--in { background: #f22580; }

.form-buttonGroup__button--out { background: #808080; }

.form--confirm .form__login--left { width: 100%; border: none; }

.form--confirm dd { font-size: 0.9125rem; color: #808080; background: #f0f0f0; border-radius: 5px; padding: 8px; }

@media screen and (max-width: 767px) { .form__title { font-size: 1.25rem; }
  .form-buttonGroup { flex-wrap: wrap; margin: 40px auto 0; }
  .form-buttonGroup__button { margin: 0 2% 20px; } }

.body--fix { margin: 0 !important; }

@media screen and (max-width: 1024px) { #body--mypage { margin-top: 0 !important; background: #f5f5f5; }
  #body--mypage .title { margin: 80px 0 -32px; }
  #body--mypage .form__login--left { padding: 20px 0; } }

@media screen and (max-width: 767px) { #body--mypage .title { margin: 48px 0 -32px; } }

.title, main, aside, .buttonMenu { opacity: 0; animation: fadeLoad 1s ease-out forwards; }

@keyframes fadeLoad { 0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; } }

.logo { position: relative; min-width: 200px; max-width: 200px; z-index: 10; }

.logo__text { position: absolute; top: 0; right: 0; bottom: 0; left: 0; top: 12px; left: 16px; }

.logo__text a { color: #ffffff; font-family: "M PLUS Rounded 1c", sans-serif; font-size: 1.5rem; font-weight: bold; }

.logo__bg { position: absolute; top: 0; left: 0; }

@media screen and (max-width: 767px) { .logo { z-index: 8; min-width: 160px; max-width: 160px; }
  .logo__text { top: 8px; left: 8px; }
  .logo__text a { font-size: 1.25rem; } }

#fixContents, .navigation--fix { background-color: #ffffff; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); width: 100%; position: fixed; top: 0; z-index: 99; transition: 0.4s ease-out 0.4s; }

.fixContents--clear { background: transparent !important; box-shadow: none !important; }

.fixContents--clear .header { background: transparent; }

.navigation--fix { z-index: -1; box-shadow: none; }

.header { background: #ffffff; width: 100%; height: 64px; display: flex; z-index: 8; }

.header__login { justify-content: flex-end !important; }

.header__member { width: 100%; display: flex; align-items: center; justify-content: space-between; }

.header__navigation { width: 100%; margin: 0; display: flex; align-items: center; justify-content: flex-start; margin-right: 16px; }

.header__navigation--right { justify-content: flex-end; }

.header__navigation li a { color: #f22580; text-decoration: none; font-family: "M PLUS Rounded 1c", sans-serif; font-weight: bold; font-size: 1rem; border-radius: 50rem; display: block; padding: 2px 20px; }

.header__navigation .active a { color: #ffffff; background: #f22580; }

.header__flex { display: flex; align-items: center; margin: 0 16px; }

.header__user { background: #f0f0f0; border: 2px solid #ffffff; border-radius: 50rem; width: 42px; height: 42px; margin: 0 0 0 16px; overflow: hidden; object-fit: cover; display: flex; position: relative; z-index: 10; }

.header__user img { height: 42px; object-fit: cover; object-position: center; }

@media screen and (max-width: 767px) { .header { height: 50px; }
  .header__flex { margin: 0 8px; }
  .header__member { justify-content: flex-end; }
  .header__navigation { display: none; }
  .header__navigation--login { display: flex; } }

#search-wrap .search-area { display: none; }

#search-wrap { width: 100%; height: 64px; position: fixed; top: 0; left: 0; z-index: -1; opacity: 0; transition: all 0.4s; }

#search-wrap.panelactive { background: #f22580; display: flex; justify-content: center; align-items: center; opacity: 1; z-index: 3; }

#search-wrap.panelactive .search-area { width: 100%; max-width: 800px; margin-left: 168px; margin-right: 120px; display: block; position: relative; }

#search-wrap input { outline: none; border: none; cursor: pointer; }

#search-wrap input[type="text"] { font-size: 0.875rem; background: #ffffff; width: 100%; padding: 12px 24px; margin: 0; border-radius: 50rem; transition: all 0.5s; }

#search-wrap button { cursor: pointer; color: #808080; background: #ffffff; border: none; font-size: 1rem; position: absolute; top: 12px; right: 8px; }

.open-btn { cursor: pointer; color: #aaaaaa; font-size: 1.25rem; transition: 0.4s; }

.open-btn:hover { color: #f22580; }

.close-btn { cursor: pointer; width: 40px; height: 40px; border-radius: 50rem; position: fixed; top: 16px; right: 72px; z-index: 15; }

.close-btn span { background-color: #ffffff; border-radius: 50rem; width: 56%; left: 8px; height: 4px; display: inline-block; position: absolute; }

.close-btn span:nth-of-type(1) { top: 8px; transform: translateY(6px) rotate(-135deg); }

.close-btn span:nth-of-type(2) { top: 20px; transform: translateY(-6px) rotate(135deg); }

@media screen and (max-width: 767px) { #search-wrap { height: 50px; }
  #search-wrap.panelactive { z-index: 10; }
  #search-wrap.panelactive .search-area { margin-left: 8px; }
  .close-btn { top: 10px; } }

.navigation { border-bottom: 1px solid #f0f0f0; }

.navigation__horizontal { padding: 0 0 0 8%; }

.navigation__horizontal ul { cursor: pointer; min-width: 100%; margin: 0 auto; display: flex; flex-wrap: nowrap; justify-content: start; align-items: center; overflow-y: hidden; overflow-x: auto; }

.navigation__horizontal ul li { line-height: 2em; margin: 0 20px; width: auto; height: auto; flex: 0 0 auto; }

.navigation__horizontal ul li a, .navigation__horizontal ul li button { cursor: pointer; color: #252525; font-size: 0.75rem; font-weight: bold; display: inline-block; position: relative; }

.navigation__horizontal ul li a:hover, .navigation__horizontal ul li button:hover { color: #f22580; background: none; }

.navigation__horizontal ul li a:hover::after, .navigation__horizontal ul li button:hover::after { transform-origin: left top; transform: scale(1, 1); }

.navigation__horizontal ul li a::after, .navigation__horizontal ul li button::after { content: ""; background: #f22580; width: 110%; height: 4px; position: absolute; bottom: -1px; left: -5%; transform: scale(0, 1); transform-origin: right top; transition: transform 0.3s; }

.navigation__horizontal ul li button { border: none; background: transparent; line-height: 2em; }

.navigation__horizontal ul li button::after { bottom: -3px !important; }

.navigation__horizontal .active a, .navigation__horizontal .active button { position: relative; color: #f22580; }

.navigation__horizontal .active a::after, .navigation__horizontal .active button::after { transform-origin: center; transform: scale(1, 1); }

@media screen and (max-width: 1024px) { .navigation__horizontal { padding: 0; }
  .navigation__horizontal ul { -ms-overflow-style: none; scrollbar-width: none; }
  .navigation__horizontal ul::-webkit-scrollbar { display: none; } }

@media screen and (max-width: 767px) { .navigation__horizontal ul li { margin: 0 16px; }
  .navigation--fix { top: 50px !important; } }

.title { width: 100%; margin: 40px 0 60px 0; padding: 0 8%; position: relative; }

.title h1 { color: #f22580; font-size: 2rem; }

.head__link { cursor: pointer; border: none; outline: none; }

footer { color: #252525; background: #f0f0f0; text-align: center; margin-top: auto; padding: 8px 0; }

footer small { font-size: 0.75rem; color: #808080; display: block; text-align: center; }

@media screen and (max-width: 767px) { footer small { font-size: 0.5rem; } }

.member .title { padding: 24px 0; margin: 40px 0 0 0; }

@media screen and (max-width: 1024px) { .member { margin-bottom: 80px; } }

.form__title { margin-bottom: 40px; }

.form__login { background: #f5f5f5; border-radius: 1rem; margin: 0 auto; padding: 40px 0 !important; display: flex; align-items: center; justify-content: space-between; }

.form__login--left, .form__login--right { border-right: 1px solid #e0e0e0; padding: 0 40px; width: 50%; }

.form__login--right { border: none; }

.form__login--forgot a, .form__login--regist a { color: #22a8e0; text-align: right; font-size: 0.75rem; font-weight: bold; display: block; margin-top: 8px; }

.form__login--forgot a:hover, .form__login--regist a:hover { text-decoration: underline; }

.form__login--regist a { text-align: center; display: block; margin-top: 16px !important; }

.form__visual { width: 100%; max-width: 400px; margin: 0 auto; position: relative; }

.form__visual--link { color: #22a8e0; text-align: center; font-weight: bold; font-size: 0.9125rem; margin: 0 auto; display: block; }

.form_format { color: #808080; font-size: 0.75rem; font-weight: bold; margin-top: 4px; }

.form_format--error { color: #ed0808; }

.form_format--error::before { content: "＊"; display: inline-block; margin-right: 4px; }

@media screen and (max-width: 1024px) { .form__visual { margin: 0 auto; }
  .form__login { flex-direction: column-reverse; }
  .form__login--left { border: none; width: 100%; }
  .form__login--right { width: 100%; } }

@media screen and (max-width: 767px) { .form__visual { max-width: 320px; }
  .form__login--left { padding: 20px; }
  .form__login--right { padding: 20px; } }

.svg--mypage { margin-top: -20px; }

.svg--notschedule { margin: 0 0 40px 0; }

.svg--white .svg__wave { fill: #fff !important; }

.mypage { width: 100%; max-width: 1600px; margin: 80px auto 0; padding: 40px 0; }

.mypage .head { max-width: 200px; }

.mypage .head__title { font-size: 1.125rem; display: flex; align-items: center; transition: all 0.4s ease; }

.mypage section:hover .head { color: #f22580; }

.mypage section:hover .head__title::before { background: #f22580; }

.mypage .form { max-width: 960px; margin-bottom: 40px; transition: all 0.4s ease; }

.mypage .form:hover { box-shadow: 0px 8px 20px rgba(25, 25, 25, 0.2); }

.mypage #payment .form, .mypage #ponpon .form { box-shadow: none; }

.mypage__schedule { width: 100%; display: flex; }

.mypage__schedule aside { width: 240px; min-width: 200px; }

.mypage__schedule .head { flex-direction: column; align-items: center; }

.mypage__schedule .head__title::before { display: none; }

.mypage__schedule .head__title--button { cursor: pointer; color: #808080; background: transparent; border: none; font-family: "M PLUS Rounded 1c", sans-serif; font-size: 1.5rem; }

.mypage__schedule .head__title--active { color: #22a8e0; }

.mypage__schedule div { width: 100%; }

.mypage__schedule .flex { flex-direction: column; align-items: center; }

.mypage__schedule .schedule { margin-bottom: 40px; border-radius: 1rem; background: #fafafa; width: 100%; padding: 40px; margin-left: 0; }

@media screen and (max-width: 767px) { .mypage section.flex { flex-direction: column; }
  .mypage .head__title { text-align: center; }
  .mypage .head__title::before { content: none; }
  .mypage .form { padding: 40px 20px; }
  .mypage__schedule { flex-direction: column !important; }
  .mypage__schedule aside { border-bottom: 1px solid #f0f0f0; width: 100%; margin-bottom: 24px; position: sticky; top: 100px; }
  .mypage__schedule .head { align-items: flex-start; max-width: 100%; }
  .mypage__schedule .head--sticky { flex-direction: row; justify-content: flex-start; }
  .mypage__schedule .head__title--button { font-size: 1.375rem; margin-right: 8px; }
  .mypage .schedule { padding: 20px; } }

.store { display: flex; flex-wrap: wrap; }

.store__box { position: relative; display: block; position: relative; transition: all 0.4s ease; width: 25%; width: calc(25% - 60px / 4); margin: 0 20px 20px 0; }

.store__box:nth-child(4n) { margin-right: 0; }

.store__box:not(:nth-child(4n)) { margin-right: 20px; }

@media screen and (max-width: 1280px) { .store__box { width: 33.333333%; width: calc(33.3333333% - 20px); margin: 0 30px 20px 0; }
  .store__box:nth-child(3n) { margin-right: 0; }
  .store__box:not(:nth-child(3n)) { margin-right: 30px; } }

@media screen and (max-width: 800px) { .store__box { width: 50%; width: calc(50% - 20px / 2); margin: 0 20px 20px 0; }
  .store__box:nth-child(2n) { margin-right: 0; }
  .store__box:not(:nth-child(2n)) { margin-right: 20px; } }

@media screen and (max-width: 640px) { .store__box { width: 100%; margin: 0 0 20px 0; }
  .store__box:nth-child(1n) { margin-right: 0; } }

.store__box:hover { opacity: 0.7; }

.store__box button { position: absolute; top: 0; right: 0; bottom: 0; left: 0; cursor: pointer; border: none; background: transparent; width: 100%; height: auto; }

.menu--flex { flex-wrap: wrap; }

@media screen and (max-width: 1200px) { .menu--flex .list { width: 100%; margin: 0 0 20px 0; }
  .menu--flex .list:nth-child(1n) { margin-right: 0; } }

.menu .cart { flex-wrap: wrap; }

.menu #total_item { font-weight: bold; text-align: center; color: #ffffff; background: transparent; border: none; outline: none; max-width: 28px; height: auto; }

.menu__total { font-weight: bold; font-size: .625rem; width: 100%; margin: -16px 0 16px; display: flex; align-items: flex-end; justify-content: flex-end; }

.menu__total span { text-align: right; margin-bottom: 4px; width: 60px; }

.menu__total input { font-size: 1.25rem; font-weight: bold; text-align: right; border: none; outline: none; width: 100%; }

@media screen and (max-width: 1024px) { .wrap--shopping .shopping--flex { flex-direction: column; }
  .wrap--shopping .shopping--flexReverse { flex-direction: column-reverse; }
  .menu__total { margin: 0px 0 16px; } }

.order-card { background: #fafafa; border-radius: 1rem; padding: 20px; }

.order-card__user dd { margin: 12px 0; }

.order-card__user dd span { color: #808080; font-size: 0.75rem; line-height: 1.75; display: block; margin-bottom: 8px; }

.order-card__total { border-top: 1px solid #e0e0e0; margin-top: 20px; padding-top: 20px; display: flex; align-items: center; justify-content: flex-end; flex-wrap: wrap; }

.order-card__total .svg-inline--fa { color: #ffffff; border-radius: 50rem; padding: 4px; width: 20px; height: 20px; }

.order-card__total li { font-size: 1.25rem; font-weight: bold; }

.order-card__total li span { font-size: 0.5em; }

.order-card__total--cart .svg-inline--fa { background: #f22580; }

.order-card__total--price { margin-left: 16px; }

.order-card__total--price .svg-inline--fa { background: #ffeb00; }

.order-card__total--button { width: 100%; }

.order-card__total--button button { cursor: pointer; color: #ffffff; border: none; background: none; background: #f22580; border-radius: 5px; box-shadow: 0 3px 0 #c82250; outline: none; font-size: 0.75rem; font-weight: bold; width: 100%; padding: 8px; transition: all 0.3s ease; font-size: 0.875rem; padding: 12px 0; margin-top: 16px; }

.order-card__total--button button:hover { transform: translate(0px, 2px); box-shadow: 0 1px 0 #c82250; }

.order-card__total--buttonOut button { transform: translate(0) !important; background: #aaaaaa; box-shadow: none !important; }

@media screen and (max-width: 1024px) { .order { min-width: 100%; }
  .order .card__list { background: #ffffff; box-shadow: 0px 4px 16px rgba(25, 25, 25, 0.1); border-radius: 1rem; width: 88.88888888%; margin: -80px auto 80px; padding: 20px; position: relative; z-index: 1; } }

@media screen and (max-width: 767px) { .order .card__list { box-shadow: none; border-radius: 0; width: 100%; margin: 20px 0 40px; padding: 0 0 20px 0; }
  .order .card__list span { font-size: 0.75rem; } }

.checkout > section { margin-bottom: 64px; }

.checkout .head__title { font-size: 1.25rem; }

.checkout .head__text { color: #808080; border: none; background: transparent; transition: all 0.4s ease; }

.checkout .head__text:hover { color: #22a8e0; }

.checkout__item .list__quantity p { font-size: 1.75rem; margin-right: 8px; }

.checkout__user { flex-wrap: wrap; justify-content: flex-start; }

.checkout__user .cardBg { box-shadow: none; border: 1px solid #f0f0f0; margin: 0 40px 40px 0; width: calc(33.3333333% - 80px / 3); }

.checkout__user .cardBg:nth-child(3n) { margin-right: 0; }

.checkout__radio { background: #ffffff; border-radius: .5rem; padding: 4px 12px; }

.checkout__radio li { font-size: .75rem; font-weight: 700; margin: 12px 0; }

.checkout__radio li input[type="radio"] { margin: 0 12px 0 0; }

.checkout__radio li span { color: #ed0808; }

.checkout__radio--disabled { color: #808080; }

.checkout__radio--time input[type="time"] { outline: none; border: 1px solid #e0e0e0; padding: 6px 8px 6px; margin-top: 12px; -webkit-min-logical-width: calc(240px); }

.checkout__schedule { margin-left: 0 !important; }

@media screen and (max-width: 1024px) { .checkout__user .cardBg { width: 50%; width: calc(50% - 20px / 2); margin: 0 20px 20px 0; }
  .checkout__user .cardBg:nth-child(2n) { margin-right: 0; }
  .checkout__user .cardBg:not(:nth-child(2n)) { margin-right: 20px; } }

@media screen and (max-width: 767px) { .checkout__user .cardBg { width: 100%; margin: 0 0 20px 0; }
  .checkout__user .cardBg:nth-child(1n) { margin-right: 0; }
  .checkout__store .infoBg__bgimg { height: 120px; }
  .checkout__store .infoBg__bgimg img { height: 120px; }
  .checkout__store .infoBg__box { box-shadow: none; border-radius: 0; width: 100%; margin: 20px 0; padding: 0 0 0 0; }
  .checkout__store .infoBg__icon { display: none; }
  .checkout__store .infoBg__title { margin-bottom: 0.5rem; }
  .checkout__store .infoBg__info { margin: 0; }
  .checkout__store .infoBg__info li { font-size: 0; }
  .checkout__store .infoBg__info .svg-inline--fa { font-size: 0.75rem; }
  .checkout__store .infoBg__info span { color: #252525; font-size: 0.75rem; margin: 12px 0 0 0; } }

.wrap--friend .head__link { font-size: 0.8125rem; color: #22a8e0; background: #ffffff; margin: 0 0 24px 0; }

.friend--flex { display: flex; flex-wrap: wrap; align-items: stretch; }

.friend .cardBg { cursor: pointer; background: #ffffff; border: 1px solid #f0f0f0; box-shadow: none; position: relative; transition: 0.4s ease; width: 20%; width: calc(20% - 80px / 5); margin: 0 20px 20px 0; }

.friend .cardBg:hover { box-shadow: 0px 4px 16px rgba(25, 25, 25, 0.1); transform: translate(0, -4px); }

.friend .cardBg:nth-child(5n) { margin-right: 0; }

.friend .cardBg:not(:nth-child(5n)) { margin-right: 20px; }

@media screen and (max-width: 1440px) { .friend .cardBg { width: 25%; width: calc(25% - 60px / 4); margin: 0 20px 20px 0; }
  .friend .cardBg:nth-child(4n) { margin-right: 0; }
  .friend .cardBg:not(:nth-child(4n)) { margin-right: 20px; } }

@media screen and (max-width: 1280px) { .friend .cardBg { width: 33.333333%; width: calc(33.3333333% - 20px); margin: 0 30px 20px 0; }
  .friend .cardBg:nth-child(3n) { margin-right: 0; }
  .friend .cardBg:not(:nth-child(3n)) { margin-right: 30px; } }

@media screen and (max-width: 800px) { .friend .cardBg { width: 50%; width: calc(50% - 20px / 2); margin: 0 20px 20px 0; }
  .friend .cardBg:nth-child(2n) { margin-right: 0; }
  .friend .cardBg:not(:nth-child(2n)) { margin-right: 20px; } }

@media screen and (max-width: 480px) { .friend .cardBg__img { max-height: 100px; }
  .friend .cardBg__box--icon, .friend .cardBg__box--icon > img { width: 72px; height: 72px; }
  .friend .cardBg__box::after { top: 42px; height: 40px; }
  .friend .cardBg__info { padding: 8px; } }

@media screen and (max-width: 400px) { .friend .cardBg__name { font-size: 0.8125rem !important; }
  .friend .cardBg__id { font-size: 0.75rem !important; }
  .friend .cardBg__button button { font-size: 0.875rem !important; } }

.friend .cardBg__info { padding: 8px; }

.friend .cardBg li { margin-bottom: 0; }

.friend .cardBg__button { display: inline; }

.friend .cardBg__button button { cursor: pointer; color: #ffffff; border: 0; background: none; border-radius: 5px; line-height: 1; font-size: 0.75rem; font-weight: bold; width: 88.888888%; max-width: 120px; margin: 20px auto 0; padding: 10px 4px; display: flex; justify-content: center; transition: 0.4s; outline: 1px solid; outline-offset: 0px; }

.friend .cardBg__button button:hover { animation: lightButton 0.8s infinite; }

@keyframes lightButton { 25% { opacity: 0.8;
    transform: scale(0.95); }
  100% { outline-color: transparent;
    outline-offset: 12px; } }

@media screen and (max-width: 1024px) { .friend .cardBg__button button { outline: none !important; }
  .friend .cardBg__button button:hover { animation: none; } }

.friend .cardBg__button--normal button { background: #f22580; outline-color: #f22580; }

.friend .cardBg__button--request button { background: #f22580; outline-color: #f22580; }

.friend .cardBg__button--add button { background: #22a8e0; outline-color: #22a8e0; }

.friend .cardBg__button--new button { background: #ffeb00; outline-color: #ffeb00; }

.friend--add .hero__message { background: rgba(255, 255, 255, 0.7); border-radius: 1rem; width: 88.888888%; max-width: 800px; padding: 40px 20px; top: 8rem; }

.friend--add .hero__message .cardBg { width: 88.888888%; max-width: 280px; margin: 0 auto 40px; }

.friend--send { padding: 8% 0; display: flex; justify-content: space-between; }

.friend--send .cardBg { width: 100%; max-width: 280px; box-shadow: 0px 4px 16px rgba(25, 25, 25, 0.1); }

.friend--send .cardBg:nth-of-type(1) { transform: scale(0); animation: delivery_cardBg-popup 0.8s 0.8s ease-out forwards; }

.friend--send .cardBg:nth-of-type(3) { transform: scale(0); animation: delivery_cardBg-popup 0.8s 1.4s ease-out forwards; }

.friend--send .cardBg__button button { font-size: 0.75rem; color: #f22580; background: transparent !important; box-shadow: none !important; transform: translate(0) !important; display: flex; align-items: center; animation: delivery_cardBgText-popup 0.5s linear forwards infinite alternate; }

.friend--send .cardBg__button button:hover { animation: delivery_cardBgText-popup 0.5s linear forwards infinite alternate; }

@keyframes delivery_cardBg-popup { 0% { transform: scale(0); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); } }

@keyframes delivery_cardBgText-popup { 0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); } }

@media screen and (max-width: 767px) { .friend--send { width: 72%; align-items: center; margin: 0 auto; flex-direction: column; }
  .friend--send .cardBg { max-width: 100% !important; margin: 0 !important; } }

.friend--request { padding: 40px 8%; }

.friend--request .form { background: #ffffff; border-radius: 1rem; width: 100%; max-width: 720px; margin: 0 auto; padding: 40px 0; }

.friend--request .form label { font-size: 1rem; }

.friend--request .form input[type="time"], .friend--request .form input[type="date"] { outline: none; border: 1px solid #e0e0e0; padding: 6px 8px 6px; margin: 12px 0 20px 0; }

.friend .animeArrow { display: flex; justify-content: center; align-items: center; }

.friend .animeArrow span { border-bottom: 8px solid #f22580; border-right: 8px solid #f22580; width: 40px; height: 40px; margin: 0 -20px; opacity: 0; transform: translateX(-120px) rotate(-45deg); animation: move 3s linear infinite; transition-delay: 2s; }

.friend .animeArrow span:nth-child(2) { animation-delay: 1s; }

.friend .animeArrow span:nth-child(3) { animation-delay: 2s; }

@keyframes move { 0% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0;
    transform: translateY(0) translateX(80px) rotate(-45deg); } }

@media screen and (max-width: 767px) { .friend .animeArrow span { transform: translateY(-80px) translateX(0px) rotate(45deg); }
  @keyframes move { 0% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0;
      transform: translateY(80px) translateX(0px) rotate(45deg); } } }

.wrap--schedule .inner { position: relative; z-index: 2; }

@media screen and (max-width: 1024px) { .schedule--flex { flex-direction: column; } }

.schedule { width: 100%; }

.schedule--flex { flex-direction: column !important; }

.schedule .head__text { font-size: 1rem; }

.schedule .head__title, .schedule .head__text { padding: 0; padding: 0; }

.schedule__result { display: flex; align-items: center; justify-content: flex-end; }

.schedule__link { color: #ffffff; background: #22a8e0; font-size: 0.75rem; font-weight: bold; border-radius: 50rem; padding: 6px 20px; margin-left: 8px; }

.schedule__link--out { background: #aaaaaa; }

.schedule__time { color: #f22580; font-size: .875rem; font-weight: bold; margin: 0 0 0 auto; }

.schedule-not { animation: fadeIn 2s ease; margin-left: 0 !important; }

.schedule-not__title { color: #555; text-align: center; font-size: 1.75rem; margin-bottom: 20px; }

.schedule-not__visual { width: 100%; }

.schedule-not__visual--house { max-width: 400px; margin: 240px auto 0; }

.schedule-not__button { position: relative; width: 100%; max-width: 400px; height: auto; margin: 0 auto; display: block; justify-content: center; }

.schedule-not__button a { width: auto; margin-top: -220px; display: block; position: absolute; overflow: hidden; }

.schedule-not__button a img { background: #f5f5f5; border-radius: 50rem; width: 160px; height: 160px; object-fit: cover; position: relative; transition: 0.4s ease; }

.schedule-not__button a img:hover { background: #ffffff; }

.schedule-not__button--shopping { animation: upDownAnime20_reverse 3s ease-in-out infinite alternate; top: 40px; left: 20%; }

.schedule-not__button--delivery { animation: upDownAnime20 3s ease-in-out infinite alternate; top: 0; left: 80%; }

.schedule .listView__list--date { font-weight: bold; font-size: .9125rem; }

.schedule .listView__list--back { padding: 0; border: 0; margin-bottom: 32px; }

@media screen and (max-width: 1024px) { .schedule { margin: 40px 0 0 0; } }

@media screen and (max-width: 767px) { .schedule .head--flex { font-size: 1.25rem; align-items: flex-start; flex-direction: column; }
  .schedule-not__title { font-size: 1.25rem; }
  .schedule .listView__list { align-items: flex-start; flex-direction: column; }
  .schedule .listView__time { margin-top: 20px; margin-left: auto; }
  .schedule__result { flex-direction: column; }
  .schedule__link { text-align: center; width: 88.888888%; margin-top: 20px; padding: 12px 20px; } }

.map { width: 100%; margin: 0 auto 40px; position: relative; z-index: 2; }

.map__content { min-width: 100% !important; margin: 0; }

.map__google { margin: 0 auto; position: relative; padding-bottom: 25%; padding-top: 80px; height: 0; overflow: hidden; }

.map__google iframe, .map__google object, .map__google embed { width: 100%; height: 100%; margin: 0 auto; position: absolute; top: 0; left: 0; right: 0; left: 0; transition: all 0.8s ease; }

@media screen and (max-width: 1024px) { .map { width: 100%; margin: 0 auto; }
  .map__content { max-width: 100% !important; }
  .map__google { padding-bottom: 45%; } }

@media screen and (max-width: 767px) { .map__content { min-width: 100%; } }

.hero { margin-top: -32px; width: 100%; overflow: hidden; position: relative; animation: fadeIn 2s ease; }

.hero__background { position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

.hero--firstVisual { height: 48rem; min-height: 48rem; }

.hero__background { z-index: -3; }

.hero__background--earth { background: url("../../images/ponpon-background-noregist.jpg") no-repeat; background-position: center bottom; filter: blur(80px); animation: scaleDown_blur-80 3s 1s ease-out forwards; }

@keyframes scaleDown_blur-80 { 0% { filter: blur(80px);
    transform: scale(1.1); }
  100% { filter: blur(0);
    transform: scale(1); } }

.hero__background--houseFix { width: 100%; background: url("../../images/ponpon-mypage-visual-noregist.png") no-repeat; background-size: 640px; background-position: center bottom; opacity: 0; animation: fadeIn 2s ease forwards; }

@media screen and (max-width: 767px) { .hero--firstVisual { height: 45rem; min-height: 45rem; }
  .hero__background--earth { background-size: cover; }
  .hero__background--houseFix { background-size: 560px; } }

.modalButton { text-align: center; }

.modalButton__button { color: #ffffff; border-radius: 50rem; text-align: center; font-size: 1.25rem; font-weight: bold; display: inline-block; transition: all 0.4s ease; position: relative; }

.modalButton__button:hover { opacity: 0.7; }

.modalButton__button--close { background: transparent; position: fixed; transform: translate(-50%); bottom: 12px; left: 50%; }

.modalButton__button--close .svg-inline--fa { color: #ffffff; background: #f22580; border-radius: 50rem; padding: 4px; width: 40px; height: 40px; }

.modalButton__button--open { background: linear-gradient(-45deg, #ff8fc0, #ff0880, #ff8fc0, #ff0880); background-size: 300% 300%; border-bottom: solid 2px #b5b5b5; box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19); text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66); opacity: 0; visibility: hidden; animation: gradationButton 8s ease infinite, upDownAnime20 1s ease-in-out infinite alternate, fadeIn 2s 2.5s ease forwards; width: 160px; height: 160px; display: flex; align-items: center; justify-content: center; position: absolute; transform: translate(-50%, -50%); bottom: 64%; left: 50%; z-index: 5; }

.modal { margin: auto; display: flex; align-items: center; position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; z-index: -1; }

.modal__cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

.modal__inner { background: #ffffff; border-radius: 1rem; width: 80vw; max-width: 800px; max-height: 80vh; margin: auto; padding: 40px; position: relative; z-index: 1; overflow-y: auto; }

.modal__img { width: 100%; max-width: 320px; margin: 20px auto; text-align: center; display: block; }

.modal--form dd { border-bottom: 2px solid #ffffff; }

.modal--form dd:nth-of-type(2) { border: none; }

.modal--form label { text-align: center; }

.modal--form input { max-width: 320px; display: block; margin: 0 auto 40px; text-align: center; }

.modal.is-open { animation: modal_open 0.5s ease forwards; }

.modal.is-open .modal-inner { animation: modal_inner_open 0.5s ease forwards; }

.modal.is-close { animation: modal_close 0.5s ease forwards; }

.modal.is-close .modal-inner { animation: modal_inner_close 0.5s ease forwards; }

@keyframes modal_open { 0% { opacity: 0; }
  100% { opacity: 1;
    z-index: 10000; } }

@keyframes modal_inner_open { 0% { opacity: 0;
    transform: translateY(-20px); }
  100% { opacity: 1;
    transform: translateY(0); } }

@keyframes modal_close { 0% { opacity: 1;
    z-index: 10000; }
  100% { opacity: 0; } }

@keyframes modal_inner_close { 0% { opacity: 1;
    transform: translateY(0); }
  100% { opacity: 0;
    transform: translateY(-20px); } }

@keyframes gradationButton { 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }

@media screen and (max-width: 767px) { .modal--form { background: #ffffff; padding: 0; }
  .modal__inner { width: 88vw; }
  .modal input { border: 1px solid #e0e0e0; }
  .modal label { text-align: left; } }

.hero--ponponAnime { width: 100%; height: 40rem !important; min-height: 40rem !important; position: relative; background: url("../../images/ponpon-background.jpg") no-repeat center bottom; animation: ponponAnimeHouse 2s 4s ease-out forwards, ponponAnimeHouse-loop 20s 6s linear infinite; }

.hero__ponponAnime { width: 100%; height: 100%; position: absolute; background-repeat: no-repeat; }

.hero__ponponAnime--character { background-image: url("../../images/ponpon-mypage-visual-regist.png"); background-position: center 6rem; background-size: 240px; animation: ponponAnimeUp 1.5s ease-out alternate forwards, ponponAnimeUpDown 1s 1.5s ease-in-out infinite alternate; }

.hero__ponponAnime--shopping { background-image: url("../../images/ponpon-shopping-anime.png"); background-size: 360px; }

.hero__ponponAnime--delivery { background-image: url("../../images/ponpon-delivery-anime.png"); background-size: 320px; }

.hero__ponponAnime--box { background-image: url("../../images/ponpon-house-go.png"); background-position: center bottom; background-size: 640px; animation: ponponAnimeBoxDown 0.8s ease 4s forwards; }

.hero__ponponAnime--text { text-align: center; height: auto; transform: translate(-50%); top: 64%; left: 50%; visibility: hidden; opacity: 0; animation: ponponAnimeText 1s ease 5.5s forwards; }

.hero__ponponAnime--text button { cursor: pointer; font-family: "M PLUS Rounded 1c", sans-serif; font-size: 1rem; font-weight: bold; color: #fafafa; background: #f22580; border: 3px solid #ffffff; border-radius: 50rem; padding: 8px 24px; transition: 0.4s ease; }

.hero__ponponAnime--text button:hover { opacity: 0.7; }

@media screen and (max-width: 767px) { .hero--ponponAnime { background-size: 320%; }
  .hero__ponponAnime--character { background-size: 200px; }
  .hero__ponponAnime--box { background-size: 480px; }
  .hero__ponponAnime--shopping { background-size: 280px; }
  .hero__ponponAnime--delivery { background-size: 280px; } }

@keyframes ponponAnimeHouse { 0% { background-position: center bottom; }
  100% { background-position: center top; } }

@keyframes ponponAnimeHouse-loop { 0% { background-repeat: repeat-x;
    background-position: center top; }
  100% { background-repeat: repeat-x;
    background-position: right top; } }

@keyframes ponponAnimeUp { 0% { background-position: center bottom; }
  100% { background-position: center 8rem; } }

@keyframes ponponAnimeUpDown { 0% { background-position: center 8rem; }
  100% { background-position: center 6rem; } }

@keyframes ponponAnimeBoxDown { 0% { background-position: center bottom; }
  100% { background-position: center 1000px; } }

@keyframes ponponAnimeText { 0% { opacity: 0;
    visibility: hidden; }
  100% { opacity: 1;
    visibility: visible; } }

.hero--mypage { height: 40rem; min-height: 40rem; background: url("../../images/ponpon-background-mypage.jpg") no-repeat; background-attachment: fixed; background-position: center -24rem; animation: ponponAnimeMypageBg 20s linear infinite alternate; }

@keyframes ponponAnimeMypageBg { 0% { background-position: 0% -24rem; }
  100% { background-position: 100% -24rem; } }

.hero__mypage { width: 100%; min-height: 40rem; position: relative; }

.hero__mypage--userName { color: #ffffff; font-size: 2.5rem; text-align: center; width: 100%; transform: translate(-50%); position: absolute; bottom: 5rem; left: 50%; }

.hero__mypage--userName span { font-size: 0.7em; display: block; }

.hero__mypage--ponpon img { position: absolute; transform: translate(-50%); top: 8rem; left: 50%; width: 240px; height: 240px; animation: fadeUpDownPonpon 1s ease-in-out infinite alternate; }

@keyframes fadeUpDownPonpon { 0% { margin-top: 20px; }
  100% { margin-top: 0px; } }

.hero__message { text-align: center; width: 100%; height: auto; position: absolute; transform: translate(-50%); left: 50%; top: 38vh; opacity: 0; animation: fadeIn 3s 1.5s ease forwards; }

.hero__message--id, .hero__message--title, .hero__message--linkAnime { color: #252525; font-family: "M PLUS Rounded 1c", sans-serif; font-size: 2.5rem; font-weight: bold; }

.hero__message--regist span, .hero__message--regist h1 { color: #f22580; }

.hero__message--title { margin: 8px 0 40px; }

.hero__message--linkAnime { cursor: pointer; font-size: 1rem; font-weight: bold; text-align: center; color: #f22580 !important; background: rgba(255, 255, 255, 0.5); border: 2px solid #f22580; border-radius: 50rem; width: 240px; padding: 10px 0; margin: 0 auto; position: relative; z-index: 1; display: block; overflow: hidden; transition: 0.3s; }

.hero__message--linkAnime::before { content: ""; background: #f22580; border-radius: 0 100% 100% 0; width: 120%; height: 200%; position: absolute; top: -50%; right: 0; z-index: -1; transform: translateX(-100%); transition: transform ease 0.4s; }

.hero__message--linkAnime:hover { color: #ffffff !important; }

.hero__message--linkAnime:hover::before { transform: translateX(10%); }

.hero--skyline { height: 100vh; overflow-y: auto; animation: skylineRightUpAnime 2s 0.5s ease-out forwards; background-size: 200vh; background-image: url("../../images/svg-skyline-pink.svg"); background-repeat: repeat-x; background-attachment: fixed; }

@keyframes skylineRightUpAnime { from { background-position: -1000px top; }
  to { opacity: 1;
    background-position: center; } }

@media screen and (max-width: 767px) { .hero__message--id, .hero__message--title, .hero__message--linkAnime { font-size: 1.75rem; }
  .hero__message--linkAnime { font-size: 1rem; padding: 8px 0; } }

@keyframes fadeIn { 0% { opacity: 0;
    visibility: hidden; }
  100% { opacity: 1;
    visibility: visible; } }

@keyframes upDownAnime20 { 0% { transform: translate(-50%, 0px); }
  100% { transform: translate(-50%, 20px); } }

@keyframes upDownAnime20_reverse { 0% { transform: translate(-50%, 20px); }
  100% { transform: translate(-50%, 0px); } }

.fadeAnimeJs .cardBg { opacity: 0; }

.fadeAnimeJs .cardBg.scroll--in { opacity: 1; animation: fadeUpJs 0.8s ease-out; }

@keyframes fadeUpJs { 0% { opacity: 0;
    transform: translate(0, 40px); }
  100% { opacity: 1;
    transform: translate(0, 0); } }

.buttonMenu { font-size: 24px; text-align: center; width: 40px; height: 40px; margin: auto; position: fixed; bottom: 64px; right: 56px; z-index: 99; }

.buttonMenu .svg-inline--fa { margin: 0; }

.buttonMenu__line { background: #ffffff; display: block; width: 24px; height: 3px; margin-left: -12.5px; margin-top: -1.5px; position: absolute; top: 50%; left: 50%; transition: transform 200ms; }

.buttonMenu__line--1 { transform: translate3d(0, -8px, 0); }

.buttonMenu__line--2 { transform: translate3d(0, 0, 0); }

.buttonMenu__line--3 { transform: translate3d(0, 8px, 0); }

.buttonMenu__button { cursor: pointer; text-align: center; color: #ffffff; background: #f22580; border-radius: 50rem; width: 56px; height: 56px; position: absolute; transform: scale(0.1) translate3d(0, 0, 0); transition: transform ease-out 200ms; z-index: 99; transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275); transform: scale(1.1, 1.1) translate3d(0, 0, 0); box-shadow: 0px 8px 20px rgba(25, 25, 25, 0.2); }

.buttonMenu__button:hover { transform: scale(1.2, 1.2) translate3d(0, 0, 0); }

.buttonMenu__item { text-align: center; color: #ffffff; background: #f0f0f0; border-radius: 50rem; width: 88px; height: 88px; overflow: hidden; position: absolute; top: -20px; right: -48px; transform: scale(0.1) translate3d(0, 0, 0); transition: transform ease-out 200ms; transition: all 0.1s ease 0s; box-shadow: 0px 8px 20px rgba(25, 25, 25, 0.2); }

.buttonMenu__item:nth-child(3) { transition-duration: 180ms; }

.buttonMenu__item:nth-child(4) { transition-duration: 180ms; }

.buttonMenu__item:nth-child(5) { transition-duration: 180ms; }

.buttonMenu__item:nth-child(6) { transition-duration: 180ms; }

.buttonMenu__item:nth-child(7) { transition-duration: 180ms; }

.buttonMenu__item img { object-fit: cover; width: 88px; height: 88px; }

.buttonMenu__item:hover { background: #ffffff; }

.buttonMenu__open { display: none; }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(3) { top: 0; right: 0; transition-duration: 380ms; }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(4) { top: 0; right: 0; transition-duration: 480ms; }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(5) { top: 0; right: 0; transition-duration: 580ms; }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(6) { top: 0; right: 0; transition-duration: 680ms; }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(7) { top: 0; right: 0; transition-duration: 780ms; }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(3) { transform: translate(-40px, -16px); }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(4) { transform: translate3d(-160px, -16px, 0); }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(5) { transform: translate3d(-280px, -16px, 0); }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(6), .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(7) { background: #f22580; width: 44.8px; height: 44.8px; transform: translate3d(30px, -64px, 0); }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(6) .svg-inline--fa, .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(7) .svg-inline--fa { transform: translate(0, 4px); padding: 2px; }

.buttonMenu__open:checked ~ .buttonMenu__item:nth-child(7) { background: #aaaaaa; transform: translate3d(30px, -136.8px, 0); }

.buttonMenu__open:checked + .buttonMenu__button { transition: linear 200ms; transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.buttonMenu__open:checked + .buttonMenu__button .buttonMenu__line--1 { transform: translate3d(0, 0, 0) rotate(45deg); }

.buttonMenu__open:checked + .buttonMenu__button .buttonMenu__line--2 { transform: translate3d(0, 0, 0) scale(0.1, 1); }

.buttonMenu__open:checked + .buttonMenu__button .buttonMenu__line--3 { transform: translate3d(0, 0, 0) rotate(-45deg); }

.buttonMenu__open:checked ~ .buttonMenu__item { transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); }

@media screen and (max-width: 767px) { .buttonMenu { bottom: 40px; right: 40px; }
  .buttonMenu__item { width: 80px; height: 80px; right: -40px; }
  .buttonMenu__item img { width: 80px; height: 80px; }
  .buttonMenu__button { width: 48px; height: 48px; }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(3) { transform: translate(24px, -100px); }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(4) { transform: translate3d(-80px, -100px, 0); }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(5) { transform: translate3d(-184px, -100px, 0); }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(6), .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(7) { width: 38.4px; height: 38.4px; transform: translate3d(-50px, 6px, 0); }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(6) .svg-inline--fa, .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(7) .svg-inline--fa { transform: translate(0); padding: 2px; }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(7) { transform: translate3d(-128px, 6px, 0); } }

@media screen and (max-width: 320px) { .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(3) { transform: translate(24px, -96px); }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(4) { transform: translate3d(-72px, -96px, 0); }
  .buttonMenu__open:checked ~ .buttonMenu__item:nth-child(5) { transform: translate3d(-168px, -96px, 0); } }
